{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Pare - Register here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}">
   <!----> <link type="text/css" rel="stylesheet" href="{% static 'styles/flaticon.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" >

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'styles/style.css' %}">

</head>
<body id="top">
<div class="page_loader"></div>

<!-- Login 6 start -->
<div class="login-6">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-12 bg-img">
                <div class="info">
                    <div class="waviy">
                        <span style="--i:1">W</span>
                        <span style="--i:2">e</span>
                        <span style="--i:3">l</span>
                        <span style="--i:4">c</span>
                        <span style="--i:5">o</span>
                        <span style="--i:6">m</span>
                        <span style="--i:7">e</span>
                        <span class="color-yellow" style="--i:8">t</span>
                        <span class="color-yellow" style="--i:9">o</span>
                        <span style="--i:10">P</span>
                        <span style="--i:11">a</span>
                        <span style="--i:12">r</span>
                        <span style="--i:13">e</span>
                    </div>
                    <p>We are thrilled to have you at our Webapp. You're going to be a valuable asset to our company, and we can't wait to see all that you accomplish. The entire team of Pare is thrilled to welcome you. We hope you'll do some amazing chats here!</p>
                </div>
                <div class="bg-photo">
                    <img src="{% static 'img/img-6.png' %}" alt="bg" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-12 bg-color-6">
                <div class="form-section">
                    <div class="logo">
                        <a href="login-6.html">
                            <img src="{% static 'img/img.png'%}" alt="logo">
                        </a>
                    </div>
                    <h3>Create An Account</h3>
                    {% if messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>
                            {% for message in messages %}
                            <strong {% if message.tags %}  {% endif %}>{{ message }}</strong>
                            {% endfor %}
                        </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <div class="login-inner-form">
                        <form action="signup" method="POST">{% csrf_token %}
                            <div class="form-group clearfix">
                                <label for="third_field" class="form-label">Username</label>
                                <div class="form-box">
                                    <input name="name" type="text" minlength="5" maxlength="10" required class="form-control" id="third_field" placeholder="Username" aria-label="Full Name">
                                    <i class="flaticon-user"></i>
                                </div>
                                <small style="color: rgb(241, 245, 11);">*Username must be unique</small>
                            </div>
                            <div class="form-group clearfix">
                                <label for="first_field" class="form-label">Email</label>
                                <div class="form-box" >
                                    <input name="email" type="email" required  class="form-control" id="first_field" placeholder="abc123@xyz.com" aria-label="Email Address">
                                    <i class="flaticon-mail-2"></i>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="second_field" class="form-label">Password</label>
                                <div class="form-box" title="Must contain minimum 8 letter with lower & uppercase & special characters & digits.">
                                    <input required type="password" minlength="8" name = "pass" class="form-control" autocomplete="off" id="pass" placeholder="Password" aria-label="Password">
                                    <i class="flaticon-password"></i>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="third_field" class="form-label" >Select usage</label>
                                <div class="form-box">
                                    <select name="type" id="third_field" class="form-control" >
                                        <option value="personal">Personal use</option>
                                        <option value="Business purpose">Business purpose</option>
                                    </select>
                                    <i class="flaticon-key"></i>
                                </div>
                            </div>
                            <div class="form-group checkbox clearfix">
                                <div class="clearfix float-start">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="rememberme" checked required>
                                        <label class="form-check-label" for="rememberme">
                                            I agree to the terms of service
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group clearfix mb-0">
                                <button type="submit" class="btn btn-primary btn-lg btn-theme">Register</button>
                            </div>
                        </form>
                        <!--<div class="extra-login">
                            <span>Or Login With</span>
                        </div>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook-bg">Facebook</a></li>
                            <li><a href="#" class="twitter-bg">Twitter</a></li>
                            <li><a href="#" class="google-bg">Google</a></li>
                        </ul>
                    </div>-->
                    <p class="text-center">Already have an account?<a href="/"> Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login 6 end -->

<!-- External JS libraries -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<!-- Custom JS Script -->

</body>
</html>
